@use "../../styles/layout.scss";

.projects {
    @include layout.device(desktop) {
        grid-area: projects;
    }
}

.projects_list {
    display: grid;
    grid-gap: 2rem;

    @include layout.device(desktop) {
        grid-template-columns: repeat(2, 1fr);
    }
}

.image {
    position: relative;
    height: 270px;

    & img {
        position: absolute;
        object-fit: cover;
    }
}

.title {
    color: var(--heading-text-secondary);
    font-family: var(--font-bebas-neue);
    font-size: 1.5rem;
    letter-spacing: var(--heading-letter-spacing);
}

.divider {
    border-color: var(--primary);
    margin-block: .25rem .5rem;
    width: 100px;
}

.tags {
    color: var(--text-secondary);
    font-size: var(--font-sm);
}