@use '@/styles/spacing.scss';

:root {
  --primary: #F15B1B;
  --body-text-color: #fff;
  --text-secondary: #777;
  --progress-bar: #ccc;

  --font-sm: .8rem;
}

@media (prefers-color-scheme: dark) {
  // :root {}

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: #050A08;
  font-size: 16px;
}

main {
  padding-inline: spacing.$spacing_1;
}

section {
  margin-block-end: 4rem;
}

h1,
h2,
.section_title {
  font-family: 'Bebas Neue', sans-serif;
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  font-family: inherit;
  display: inline-block;
}

img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  margin-block-end: .4rem;
}


/* OTHER STYLES */
.btn {
  border: none;
  display: inline-block;
  width: 100%;
  padding-inline: 2rem;
  padding-block: .6rem;
}

.section_title {
  color: var(--primary);
  margin-block-end: 2rem;
}

h3.section_title {
  margin-block-end: 1rem;
}