@use '@/styles/spacing.scss';
@use '@/styles/layout.scss';

:root {
  --primary: #ff6a2a;
  --body-text-color: #fff;
  --text-secondary: #777;
  --heading-text-secondary: #c5c5c5;
  --progress-bar: #ccc;

  --font-sm: .8rem;
  --heading-letter-spacing: 1.3px;
}

@media (prefers-color-scheme: dark) {
  // :root {}

  html {
    color-scheme: dark;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: #fff;
  background-color: #050A08;
  font-size: 16px;
}

main {
  display: grid;
  margin-block: layout.$section-row-gap;
  margin-inline: auto;
  max-width: layout.$main-content-size;
  padding-inline: spacing.$spacing_1;
  row-gap: layout.$section-row-gap;

  @include layout.device(desktop) {
    column-gap: layout.$section-col-gap;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "banner banner"
      "about education"
      "skills skills"
      "projects projects";
  }
}

h1,
h2,
.section_title {
    font-family: var(--font-bebas-neue);
}

h1,
h2,
h3 {
  text-transform: capitalize;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  display: inline-block;
  font-family: inherit;
}

img {
  height: 100%;
  max-width: 100%;
  width: 100%;
}

ul {
  list-style: none;
}

li {
  margin-block-end: .4rem;
}

/* OTHER STYLES */
.btn {
  border: none;
  display: inline-block;
  padding-inline: 2rem;
  padding-block: .6rem;
  width: 100%;
}

.section_title {
  color: var(--primary);
  letter-spacing: var(--heading-letter-spacing);
  margin-block-end: 2rem;
}

h3.section_title {
  margin-block-end: 1rem;
}