@use "../../styles/spacing.scss";
@use "../../styles/layout.scss";

.banner {
    @include layout.device(desktop) {
        grid-area: banner;
        padding-block-start: 10vh;
        padding-block-end: 5vh;
    }

    display: grid;
    padding-block-start: 20vh;
    padding-block-end: 15vh;
    place-items: center;

    & .heading {
        font-size: clamp(4rem, min(20vh, 20vw), 8rem);
        color: var(--primary);
        line-height: .85;
        text-align: center;
        width: min-content;
    }

    & .job_title {
        @include layout.device(desktop) {
            font-size: 1.4rem;
        }

        margin-block-start: spacing.$spacing_subheading;
        margin-block-end: spacing.$spacing_2;

        & span {
            text-transform: capitalize;
        }

        & span:first-child {
            display: block;
        }
    }

    & .ampasand {
        margin-right: 4px;
        font-weight: 700;
    }

    & .actions {
        display: grid;
        justify-items: center;
        row-gap: spacing.$spacing_1;

        & button {
            text-transform: capitalize;
        }

        & button:first-child {
            display: block;
            width: 200px;
        }

        &_top {
            display: grid;
            gap: spacing.$spacing_1;

            @include layout.device(desktop) {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }

    #contact_btn {
        background-color: var(--primary);
        color: var(--body-color);
    }
}