@use "layout.scss";

.edu {
    text-transform: capitalize;
    color: var(--text-secondary);

    & .item {
        @include layout.device(desktop) {
            font-size: .9rem;
        }

        border-left: 2px solid var(--text-secondary);
        font-size: var(--font-sm);
        padding-block-end: 1.3rem;
        padding-inline-start: 1rem;
        position: relative;

        &:last-child {
            padding-block-end: 0;
        }
    }

    & h3 {
        font-size: 1.2em;
        color: var(--body-text-color);
        font-weight: 500;
        margin-block-end: .4rem;
    }
}