.edu {
    text-transform: capitalize;
    color: var(--text-secondary);

    & .item {
        border-left: 2px solid var(--text-secondary);
        font-size: 14px;
        padding-block-end: 1.3rem;
        padding-inline-start: 1rem;
        position: relative;

        &:last-child {
            padding-block-end: 0;
        }
    }

    & h3 {
        font-size: inherit;
        color: var(--body-text-color);
        font-weight: 500;
        font-size: 1.2em;
        margin-block-end: .4rem;
    }
}