@use "layout.scss";

.skills {
    @include layout.device(desktop) {
        grid-area: skills;
    }

    & h3 {
        font-size: 1rem;
        font-weight: 400;
    }

    &_list {
        display: grid;
        margin-block-start: 3rem;
        row-gap: 2rem;

        @include layout.device(desktop) {
            column-gap: 2rem;
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.skill_progress {
    margin-block-end: 1rem;

    & span {
        color: var(--text-secondary);
        font-size: var(--font-sm);
        margin-block-start: .3rem;
    }
}

.progress {
    background-color: var(--progress-bar);
    height: 7px;
    margin-block-start: .5rem;
    width: 100%;

    &>div {
        background-color: var(--primary);
        height: 100%;
        width: 90%;
    }
}